#{extends 'main.html' /}
#{set title:'Montoring live charts' /}

<div class="page-header">
	<h1>Monitoring charts</h1>
</div>

<div id="charts"></div>

<script type="text/javascript">
var chart;

$(function () {
    $(document).ready(function() {
        Highcharts.setOptions({
            global: {
                useUTC: false
            }
        });
   
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'charts',
                type: 'spline',
                marginRight: 10
            },
            title: {
                text: 'Platform live latency'
            },
            xAxis: {
                type: 'datetime',
                tickPixelInterval: 150
            },
            yAxis: {
                title: {
                    text: 'Time'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                formatter: function() {
                        return '<b>'+ this.series.name +'</b><br/>'+
                        Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) +'<br/>'+
                        Highcharts.numberFormat(this.y, 2);
                }
            },
            legend: {
                enabled: false
            },
            exporting: {
                enabled: false
            },
            series: [{
                name: 'Latency',
                data: (function() {
                    // generate an array of random data
                    var data = [],
                        time = (new Date()).getTime(),
                        i;
    
                    for (i = -19; i <= 0; i++) {
                        data.push({
                            x: time + i * 1000,
                            y: 0
                        });
                    }
                    return data;
                })()
            }]
        });
    });
    
});

if (window["WebSocket"]) {
	var conn = new WebSocket('@@{BackgroundTaskWebSocket.pushNewMessage()}');

	conn.onmessage = function(evt) {			
// 		var d = $.parseJSON(evt.data);
// 		var unique_id = $.gritter.add({
// 		    // (string | mandatory) the heading of the notification
// 		    title: d.title,
// 		    // (string | mandatory) the text inside the notification
// 		    text: d.content,
// 		    // (string | optional) the image to display on the left
// 		    //image: 'http://s3.amazonaws.com/twitter_production/profile_images/132499022/myface_bigger.jpg',
// 		    // (bool | optional) if you want it to fade out on its own or just sit there
// 		    sticky: false,
// 		    // (int | optional) the time you want it to be alive for before fading out
// 		    time: '1000',
// 		    // (string | optional) the class name you want to apply to that specific message
// 		    class_name: 'my-sticky-class'
// 		  });
		
        var series = chart.series[0];
    	series.addPoint([(new Date()).getTime(), Math.random()], true, true);
		
	};

	conn.onclose = function(evt) {
		var unique_id = $.gritter.add({
		    // (string | mandatory) the heading of the notification
		    title: 'Websocket status',
		    // (string | mandatory) the text inside the notification
		    text: 'Closed!',
		    // (string | optional) the image to display on the left
		    //image: 'http://s3.amazonaws.com/twitter_production/profile_images/132499022/myface_bigger.jpg',
		    // (bool | optional) if you want it to fade out on its own or just sit there
		    sticky: false,
		    // (int | optional) the time you want it to be alive for before fading out
		    time: '1000',
		    // (string | optional) the class name you want to apply to that specific message
		    class_name: 'my-sticky-class'
		  });
	};
} else {
	var unique_id = $.gritter.add({
	    // (string | mandatory) the heading of the notification
	    title: 'Websocket status',
	    // (string | mandatory) the text inside the notification
	    text: 'Browser does not support WebSockets!',
	    // (string | optional) the image to display on the left
	    //image: 'http://s3.amazonaws.com/twitter_production/profile_images/132499022/myface_bigger.jpg',
	    // (bool | optional) if you want it to fade out on its own or just sit there
	    sticky: false,
	    // (int | optional) the time you want it to be alive for before fading out
	    time: '1000',
	    // (string | optional) the class name you want to apply to that specific message
	    class_name: 'my-sticky-class'
	  });
}

</script>
<script src="@{'/public/assets/highcharts/highcharts.js'}"></script>
<script src="@{'/public/assets/highcharts/exporting.js'}"></script>